:root{
    --maingrey: #222831;
    --maincyan: #87FFFF;
    --maincyanbrighter: #73FBFD;
    --mainred: #FF6060;
    --brightred: #F05650;
    --frontgrey:#323740;
    --maingreen: #75F94C;
    --mainorange: #F29D38;
    --mainpurple: #8566FF;
    --mainblue: #52A1FF;
    --darkpurple: #1F1E26;
    --darkgrey: #252525;
    
}

.body{
    margin: 0;
    background-color: var(--maingrey);
}

.header{
    display: flex;
    justify-content: center;
}

.navBar{
    background-color: var(--frontgrey);
    text-align: center;
    align-items: center;
    min-height: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -10px;
    width: 750px;
    height: 75px;
    border-radius: 0.95vmax;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 20px;
}


.navBarButton{
    min-height: 10%;
    border-color: transparent;
    background: transparent;
    color: white;
    font-size: 20px;
    font-weight: normal;
    font-family: "League Spartan", sans-serif;
    height: 100%;
    width: 18.5vmax;
    margin-top: 1.2%;
    cursor: pointer;

}

.navBarButton:hover{
    font-size: 25px;
    border-radius: 0.8vmax;
    color: var(--maincyanbrighter);
    text-shadow: var(--maincyanbrighter) 0 0 6px;
    height: 85%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 20px 30px, var(--maincyanbrighter) 0 4px 0;
    animation: godownanimation 0.2s alternate;
    animation-fill-mode: forwards;
    background-color: var(--frontgrey);
}

@keyframes godownanimation {
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(5px);
    }
}

@media only screen and (max-width: 920px) {

    .navBar {
        width: 80vw;
        height: 8vw;
        border-radius: 1vw;
    }
}


@media only screen and (max-width: 700px) {
    
    .navBarButton {
        font-size: 2.7vw;
    }

    .navBarButton:hover{
        font-size: 3vw;
    }
}



/*section1*/

.section1container{
    width: 100%;
}


.section1{
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    min-height: 500px;
    background-image: linear-gradient(-60deg, var(--mainpurple) -200%,transparent 40%), linear-gradient(60deg, var(--maingreen) -200%,var(--maingrey) 30%);
    /*box-shadow: var(--darkgrey) 0 8px 4px;*/
}

.section1finish{
    height: 160px;
    stroke: var(--maingrey) 0 0 5px 5px;
    box-shadow: rgba(0,0,0,25%) 0 0 30px 4px ;
    position: relative;
    z-index: 2;

}

.middleSection{
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: 550px;
    max-width: 550px;
    row-gap: 23px;
    
}

.sideSection1,.sideSection2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 40px;
    margin-top: 350px;
    height: 100%;
}

.sideSection2{
    align-items: start;
}

.sideSection1{
    align-items: end;
}

/*section1 bubbles*/

.mainBubble, .sideBubbleBig,.sideBubbleMedium,.sideBubbleSmall{
    border-radius: 50%;
    background-color: var(--frontgrey);
    align-content: center;
    text-align: center;
    animation-name: floatanimation;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    z-index: 1;
    
}


.mainBubble{
    margin-top: 160px;
    width: 420px;
    height: 420px;
    border-style: solid;
    border-color: var(--maingrey);
    border-width: 10px;
    box-shadow:  var(--maincyanbrighter) 5px 10px 0,var(--maincyanbrighter) -5px 10px 0, var(--maincyanbrighter) 0 0 20px 0px;
    min-width: 150px;
    min-height: 150px;
}

.sideBubbleBig{
    width: 204px;
    height: 204px;
}

.sideBubbleMedium{
    width: 154px;
    height: 154px;
}

.sideBubbleSmall{
    width: 131px;
    height: 131px;
}

#sideBubbleBigLeft{
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 20px, var(--maincyanbrighter) -10px 10px 0, var(--maincyanbrighter) -10px 10px 60px -12px;
    animation-name: floatanimationreverse;
    
}
#sideBubbleBigRight{
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 20px, var(--mainorange) 10px 10px 0, var(--mainorange) 10px 10px 60px -12px;
    animation-name: floatanimation;
}

#sideBubbleMediumLeft{

    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 20px, var(--brightred) -8px 8px 0, var(--mainred) -10px 10px 60px -12px;
    animation-name: floatanimation2reverse;
    margin-right: 160px;
}

#sideBubbleMediumRight{

    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 20px, var(--mainpurple) 8px 8px 0, var(--mainpurple) 10px 10px 60px -12px;
    animation-name: floatanimation2;
    margin-left: 160px;
}

#sideBubbleSmallLeft{
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 20px, var(--maingreen) -6px 6px 0, var(--maingreen) -10px 10px 60px -12px;
    animation-name: floatanimation3reverse;
}

#sideBubbleSmallRight{
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 20px, var(--mainblue) 6px 6px 0, var(--mainblue) 10px 10px 60px -12px;
    animation-name: floatanimation3;
}

.imgbig{
    width: 137px;
    height: 137px;
}

.imgmedium{
    width: 93px;
    height: 93px;
}

.imgsmall{
    width: 70px;
    height: 70px;
}


/*section1 text*/

.section1textbox{
    min-width: 500px;
}

.mainText{
    text-align: center;
    font-family: "Squada One", sans-serif;
    font-size: 83px;
    color: white;

}

.mainDescription{
    text-align: center;
    font-family: "Squada One", sans-serif;
    font-size: 66px;
    color: white;
    margin-top: -13px;

    
}

@media only screen and (max-width: 1250px) {

    .middleSection{
        width: 45vw;
        min-width: 45vw;
    }
    
    .sideSection1,.sideSection2{
        row-gap: 3.5vw;

    }


    .mainBubble{
        height: 33.8vw;
        width: 33.8vw;
        box-shadow:  var(--maincyanbrighter) 0.4vw 0.9vw 0,var(--maincyanbrighter) -0.4vw 0.9vw 0, var(--maincyanbrighter) 0 0 20px 0px;
        border-width: 0.85vw;
    }

    .sideBubbleBig{
        width: 16.2vw;
        height: 16.2vw;
    }

    .sideBubbleMedium{
        width: 12.2vw;
        height: 12.2vw;
    }

    .sideBubbleSmall{
        width: 10.4vw;
        height: 10.4vw;
    }

    .imgbig{
        width: 11vw;
        height: 11vw;
    }

    .imgmedium{
        width: 7.5vw;
        height: 7.5vw;
    }

    .imgsmall{
        width: 5.4vw;
        height: 5.4vw;
    }

    #sideBubbleMediumLeft{
        margin-right: 13vw;
    }

    #sideBubbleMediumRight{
        margin-left: 13vw;
    }

    #sideBubbleBigLeft{
        box-shadow: rgba(0, 0, 0, 0.2) 0 5px 20px, var(--maincyanbrighter) -0.85vw 0.85vw 0, var(--maincyanbrighter) -10px 10px 60px -12px;
    }
    #sideBubbleBigRight{
        box-shadow: rgba(0, 0, 0, 0.2) 0 5px 20px, var(--mainorange) 0.85vw 0.85vw 0, var(--mainorange) 10px 10px 60px -12px;
    }

    #sideBubbleMediumLeft{
        box-shadow: rgba(0, 0, 0, 0.2) 0 5px 20px, var(--brightred) -0.65vw 0.65vw 0, var(--mainred) -10px 10px 60px -12px;
    }

    #sideBubbleMediumRight{
        box-shadow: rgba(0, 0, 0, 0.2) 0 5px 20px, var(--mainpurple) 0.65vw 0.65vw 0, var(--mainpurple) 10px 10px 60px -12px;
    }

    #sideBubbleSmallLeft{
        box-shadow: rgba(0, 0, 0, 0.2) 0 5px 20px, var(--maingreen) -0.45vw 0.45vw 0, var(--maingreen) -10px 10px 60px -12px;
    }

    #sideBubbleSmallRight{
        box-shadow: rgba(0, 0, 0, 0.2) 0 5px 20px, var(--mainblue) 0.45vw 0.45vw 0, var(--mainblue) 10px 10px 60px -12px;
    }

    .mainText{
        font-size: 6.7vw;
    }
    .mainDescription{
        font-size: 5.3vw;
        margin-top: -1vw;
    }

}

@media only screen and (max-width: 1000px) {
    
    
    .section1finish{
        height: 16vw;
    }

    .section1textbox{
        margin-top: calc(150px - 15vw);
    }
    
}

@media only screen and (max-width: 800px) {
    
    
    .mainText{
        font-size: 54px;
    }
    .mainDescription{
        font-size: 43px;
        margin-top: -9px;
    }
}

@media only screen and (max-width: 700px) {

    .section1{
        height: 140vw;
    }

}

/*section2*/

.section2,.section3{
    height: 1400px;
    display: flex;
    width: 100%;
    
}

.section2{
    position: relative;
    z-index: 0;
    background-image: linear-gradient(-120deg, var(--mainpurple) -200%,transparent 40%), linear-gradient(120deg, var(--maingreen) -200%,var(--maingrey) 30%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3{
    position: relative;
    z-index: 0;
    background-image: linear-gradient(50deg, var(--mainred) -200%,transparent 40%), linear-gradient(-50deg, var(--mainpurple) -200%,var(--maingrey) 30%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2box{
    width: 1540px;
    height: 900px;
    display: flex;
    
}

/* section2 subsection1*/

.section2boxsubsection1, .section2boxsubsection2{
    box-shadow: rgba(0,0,0,25%) 0 0 30px 4px ;
    height: 100%;
}

.section2boxsubsection1{
    width: 354px;
    background-color: var(--maingrey);
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section2boxsubsection2{
    width: 1185px;
    background-color: var(--frontgrey);
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    display: flex;
    column-gap: 35px;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.section2servicecardcontainer{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 5px;

}

.section2textbox{
    width: max-content;
    height: max-content;
    margin-top: 32px;
}

.section2maintext{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: white;

}

.section2maindescription{
    font-family: "League Spartan", sans-serif;
    text-align: center;
    color:white;
    font-size: 22px;

}


.section2servicecard{
    width: 240px;
    height: 135px;
    background-color: var(--frontgrey);
    border-radius: 10px;
    box-shadow: rgba(0,0,0,25%) 0 0 32px -7px ;
    margin-bottom: 45px;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
}


/*section2 subsection2*/

.gallerycontainer{
    background-color: transparent;
    width: 240px;
    height: 770px;
    display: flex;
    flex-direction: column;

}

.gallerytext{
    font-family: "League Spartan",sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 0;
    margin-top: 5px;
    padding-bottom: 20px;
}

.gallerycard{
    background-color: var(--maingrey);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.gallerybutton{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    font-family: "League Spartan",sans-serif;
    color: var(--frontgrey);
    font-weight: bold;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 20px 30px;
    border-color: transparent;
    cursor: pointer;
}

.gallerybutton:hover{
    transform: scale(110%);
}

.gallerymedia{
    width: 100%;
    height: 100%;
    background-color: var(--frontgrey);
    border-radius: 7px;
    border-color: transparent;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 30px;
}

.gallerymedia:hover{
    transform: scale(108%);
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px;
}


@media only screen and (max-width: 1600px) {
    .section2box{
        transform: scale(80%);
    }
}


@media only screen and (max-width: 1200px) {
    
    .section2,.section3{
        height: 1300px;
    }
    
    .section2box{
        flex-direction: column;
        align-items: center;
        height: 1200px;
        transform: scale(70%);
    }

    .section2boxsubsection1{
        width: 1185px;
        height: 280px;
        flex-direction: row;
        border-bottom-left-radius: 0;
        border-top-right-radius: 17px;
        border-top-left-radius: 17px;
        gap: 25px;
    }

    .section2boxsubsection2{
        width: 1185px;
        height: 870px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 17px;
        border-bottom-right-radius: 17px;
    }

    .section2servicecardcontainer{
        flex-direction: row;
        gap: 40px;
    }

    .section2textbox{
        width: max-content;
        height: max-content;
        margin-top: 20px;
    }

}

@media only screen and (max-width: 900px) {

    .section2,.section3{
        height: 1800px;
    }


    .section2box{
        transform: scale(80%);
        margin-top: -750px;
    }
    
    .section2boxsubsection2{
        display: grid;
        grid-template-columns: auto auto;
        width: 620px;
        height: 2500px;
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 0;
        row-gap: 50px;
        column-gap: 50px;
    }

    .section2boxsubsection1{
        width: 620px;
        height: 1000px;
    }
    
    .section2servicecardcontainer{
        display: grid;
        grid-template-columns: auto auto;
        gap: 0;
        column-gap: 50px;
    }
    

}

@media only screen and (max-width: 700px) {


    .section2,.section3{
        height: 1600px;
    }
    
    .section2box{
        margin-top: -550px;
        transform: scale(60%);
    }
    

}

@keyframes floatanimation {
    0% {transform: translateY(0)}
    50% {transform: translateY(-5px)}
    100% {transform: translateY(0)}
}

@keyframes floatanimationreverse {
    0% {transform: translateY(0)}
    50% {transform: translateY(-5px)}
    100% {transform: translateY(0)}
}

@keyframes floatanimation2 {
    0% {transform: translateY(0) translateX(0)}
    50% {transform: translateY(-10px) translateX(5px)}
    100% {transform: translateY(0) translateX(0)}
}

@keyframes floatanimation2reverse {
    0% {transform: translateY(0) translateX(0)}
    50% {transform: translateY(-10px) translateX(-5px)}
    100% {transform: translateY(0) translateX(0)}
}


@keyframes floatanimation3 {
    0% {transform: translateY(0) translateX(0) scale(100%)}
    50% {transform: translateY(-10px) translateX(-5px) scale(100%)}
    100% {transform: translateY(0) translateX(0) scale(100%)}
}


@keyframes floatanimation3reverse {
    0% {transform: translateY(0) translateX(0) scale(100%)}
    50% {transform: translateY(-10px) translateX(5px) scale(100%)}
    100% {transform: translateY(0) translateX(0) scale(100%)}
}


.cyantext{
    color: var(--maincyanbrighter);
    text-shadow: var(--maincyanbrighter) 0 0 3px;
}

.redtext{
    color: var(--mainred);
    text-shadow: var(--mainred) 0 0 3px;
}

.greentext{
    color: var(--maingreen);
    text-shadow: var(--maingreen) 0 0 3px;
}

.orangetext{
    color: var(--mainorange);
    text-shadow: var(--mainorange) 0 0 3px;
}

.cyanbackground{
    background-color: var(--maincyanbrighter);
}

.redbackground{
    background-color: var(--mainred);
}

.greenbackground{
    background-color: var(--maingreen);
}

.orangebackground{
    background-color: var(--mainorange);
}

/* Slider */


.doublesidedgradient{
    background: linear-gradient(90deg,transparent 80%,var(--maingrey) 100%), linear-gradient(-90deg,transparent 80%,var(--maingrey) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}

.slider {
    overflow: hidden;
    
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bannermove 40s linear infinite;
    height: 100%;
}


.slidecontainer {
    display: flex;
    align-items: center;
    padding-left: 0;
    height: 100%;
}

.banner {
  
}

.bannercontainer {
    display: flex;
    height: 80%;
    width: 80%;
    margin: 25px;
}

@keyframes bannermove {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modalcontent {
    margin: auto;
    display: block;
    width: 70%;
    justify-self: center;
    align-self: center;
    border-radius: 15px;
}

/* Caption of Modal Image */
#mainModalCaption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modalcontent, #mainModalCaption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}